<div class="col-md-12">
  <%= form_for @user do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <h1>プロフィールを編集</h1>

    <div class="form-group">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :profile_text, "プロフィール文" %>
      <%= f.text_area :profile_text %>
    </div>

    <div class="form-group">
      <%= f.label :own_url, "URL" %>
      <%= f.text_field :own_url %>
    </div>

    <div class="form-group">
      <%= f.label :picture, "プロフィール画像" %>
      <%= f.file_field :picture %>
    </div>

    <%= f.submit "更新", class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
