<%= stylesheet_link_tag "users/show1", :media => "all" %>
<%= stylesheet_link_tag "users/show1-rspnsv", :media => "all" %>
        <content>
            <div class="prof">
                <% if @user.picture.url %>
                  <%= link_to profile_user_path(@user) do%>
                    <%= image_tag @user.picture.url, class: "prof-icon" %>
                  <% end %>
                <% else %>
                  <%= link_to profile_user_path(@user) do%>
                    <%= image_tag "no-picture.png", class: "prof-icon" %>
                  <% end %>
                <% end %>
                <div class="prof-name"><%= link_to @user.name, profile_user_path(@user) %></div>
            </div>
            <div class="follow-btn">
                <%= render 'relationships/follow_button', user: @user %>
            </div>
            <div class="discription">
                <p class="disc-2"><a href="/users/<%= @user.id %>/self_mymaps">作成した<br>リスト</a></p>
                <p class="disc-1"><a href="/users/<%= @user.id %>/like_mymaps">お気に入り<br>リスト</a></p>
            </div>

            <div class="boxContainer">
                <% @favorite_mymaps.each do |mymap| %>
                  <div class="box">
                    <a class="mymap-title" href="/mymaps/<%= mymap.id %>">
                      <% if mymap.picture.url %>
                        <%= image_tag mymap.picture.url, class: "box-pic" %>
                      <% else %>
                        <% place = mymap.places.first %>
                        <% if place %>
                          <% place_picture = place.place_pictures.first %>
                          <% if place_picture %>
                            <%= image_tag place_picture.picture.url, class: "box-pic" %>
                          <% else %>
                            <%= image_tag "no-picture.png", class: "box-pic" %>
                          <% end %>
                        <% else %>
                          <%= image_tag "no-picture.png", class: "box-pic" %>
                        <% end %>
                      <% end %>
                      <p class="title"><%= mymap.name %></p>
                      <div class="dot-box">
                        <% places = mymap.places.all %>
                        <% place_type = places.map{|place| place.types_number} %>
                        <% place_type.uniq! %>
                        <% place_type.each do |type| %>
                          <% if type == 0 %>
                            <div class="dot" id="eat"></div>
                          <% elsif type == 1 %>
                            <div class="dot" id="see"></div>
                          <% elsif type == 2 %>
                            <div class="dot" id="buy"></div>
                          <% elsif type == 3 %>
                            <div class="dot" id="stay"></div>
                          <% end %>
                        <% end %>
                      </div>
                      <%= render 'user_mymaps/favorite_button', mymap: mymap %>
                      <div class="name-box">
                          <p><%= mymap.user.name %></p>
                      </div>
                    </a>
                  </div>
                <% end %>
            </div>
        </content>
        <a href="/mymaps/search?user_id=<%= @user.id %>" id="hoge" class="enter">リストからスポットを検索</a>

