<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sumire</title>
        <meta name="description" content="web application that redefines the communication">
        <meta name="author" content="futae">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag "browser_selections/index", :media => "all" %>
        <%= stylesheet_link_tag "browser_selections/index-rspnsv", :media => "all" %>
        <%= favicon_link_tag("sumire.ico")%>
    </head>
    <body>
        <%= image_tag "logo2.png", class: "logo2" %>
        <%= image_tag "text.png", class: "text" %>
        <p id="cmt">sumireへようこそ！<br>お使いのブラウザを選んでください</p>

        <div class="enter-chunk">
            <p class="enter-sentence">iOS(iPhone)</p>
            <a class="enter" href="/select_safaris">Safari</a>
        </div>
        <div class="enter-chunk">
            <p class="enter-sentence">iOS(iPhone)・Android</p>
            <a class="enter" href="/select_chromes">Chrome</a>
        </div>
        <div class="enter-chunk">
            <p></p>
            <a class="enter" href="/select_pcs">その他・わからない</a>
        </div>
        <div class="dot-box">
            <div class="dot" id="one"></div>
            <div class="dot" id="two"></div>
            <div class="dot" id="three"></div>
        </div>
    </body>
</html>
