<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sumire.</title>
        <meta name="description" content="web application that redefines the communication">
        <meta name="author" content="futae">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag "homes/index", :media => "all" %>
        <%= stylesheet_link_tag "homes/index-rspnsv", :media => "all" %>
        <%= favicon_link_tag("sumire.ico")%>
    </head>
    <body>
        <div class="headerContainer">
            <div class="logo-set">
                <%= image_tag "logo2.png", class: "logo2" %>
                <%= image_tag "text.png", class: "text"%>
            </div>
        </div>
        
        <div class="descContainer">
            <div class="desc">
                <h1>「ここ行きたい」を増やそう</h1>
                <p>sumire.は、"行きたいとこリスト"を作って友達とシェアできるサービスです</p>
                <a href="/auth/facebook" id="upperEnter" class="enter">Facebookでログイン</a>
            </div>
        </div>
        
        <div class="canContainer">
            <h1>sumire.ができる、こんなこと</h1>
            <div class="canBoxContainer">
                <div class="canBox" id="leftCan">
                    <%= image_tag "smt1.png", class: "smt" %>
                    <h3>"行きたいとこリスト"が<br>簡単に作れます</h3>
                </div>
                <div class="canBox" id="centerCan">
                    <%= image_tag "smt2.png", class: "smt" %>
                    <h3>友達が作ったリストを<br>見ることができます</h3>
                </div>
                <div  class="canBox" id="rightCan">
                    <%= image_tag "smt3.png", class: "smt" %>
                    <h3>リストから行きたい場所を<br>絞り込み検索できます</h3>
                </div>
            </div>

            <div class="featureBox">
                <div class="feature">
                    <%= image_tag "pin.png", class: "pic" %>
                    <p>位置情報</p>
                </div>
                <div class="feature">
                    <%= image_tag "clock.png", class: "pic" %>
                    <p>営業時間</p>
                </div>
                <div class="feature">
                    <%= image_tag "calen.png", class: "pic" %>
                    <p>営業日</p>
                </div>
                <div class="feature" id="fourthBox">
                    <%= image_tag "bag.png", class: "pic" %>
                    <p>ジャンル</p>
                </div>
                <p>"行きたいとこ"の名称を検索→登録するだけ！<br>あとはそのスポットの情報をsumire.が自動で取得します</p>
            </div>
        </div>
        
        <div class="useCaseContainer">
            <h1>たとえばこんな自分だけのリスト</h1>
            <div class="useBoxContainer">
                <div class="useBox" id="leftUse">
                    <%= image_tag "cafe.png", class: "useCase" %>
                    <h3>たとえば...<br>「お気に入りカフェ」リスト</h3>
                    <p>よく行くお店や気になるお店を<br>リストにまとめられます。<br>
                </div>
                <div class="useBox" id="centerUse">
                    <%= image_tag "used.png", class: "useCase" %>
                    <h3>たとえば...<br>「高円寺 好きな服屋」リスト</h3>
                    <p>飲食店以外のスポットも<br>登録できます。</p>
                </div>
                <div  class="useBox" id="rightUse">
                    <%= image_tag "kyoto.png", class: "useCase" %>
                    <h3>たとえば...<br>「京都のおすすめ」リスト</h3>
                    <p>友達におすすめしたいスポットを<br>リストにしてシェアしましょう。</p>
                </div>
            </div>
        </div>

        <div class="remindContainer">
            <h1>さあ、sumire.をはじめよう。</h1>
            <div class="enterBox">
                <p id="mess1">登録完了まで約7秒！</p>
                <a href="/auth/facebook" class="enter" id="bottomEnter">ログイン</a>
                <p id="mess2">登録・利用は一切無料です。利用規約に同意の上ご利用ください。</p>
            </div>
        </div>

        <div class="footer">
            <div class="footerLinks">
                <span>利用規約</span>
                <span>プライバシーポリシー</span>
                <span>Facebook</span>
                <span>ブログ</span>
            </div>
        </div>
    </body>
</html>
