<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sumire</title>
        <meta name="description" content="web application that redefines the communication">
        <meta name="author" content="futae">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag "select_pcs/index", :media => "all" %>
        <%= stylesheet_link_tag "select_pcs/index-rspnsv", :media => "all" %>
        <%= favicon_link_tag("sumire.ico")%>
    </head>
    <body>
        <%= image_tag "logo2.png", class: "logo2" %>
        <%= image_tag "text.png", class: "text" %>
        <p>次の画面で<br>ブックマークすると<br>便利ですよ</p>
        <a href=<%="/users/#{current_user.id}"%> class="enter">sumireをはじめる</a>
        <div class="dot-box">
            <div class="dot" id="one"></div>
            <div class="dot" id="two"></div>
            <div class="dot" id="three"></div>
        </div>
    </body>
</html>
