<%= stylesheet_link_tag "mymaps/search.css", :media => "all" %>
<%= stylesheet_link_tag "mymaps/search-rspnsv", :media => "all" %>
        <content>
        <h1><%= @user.name %>さんの<br>マイリストからスポットを検索</h1>
        <%= form_tag({ action: 'result' }, :method => :get, remote: true) do %>
            <div class="buttons">
                <input type="checkbox" name="types_number[]" class="not-check eat" id="types_number_0" value="0"><label for="types_number_0">食べる</label>
                <input type="checkbox" name="types_number[]" class="not-check see" id="types_number_1" value="1"><label for="types_number_1">見る 遊ぶ</label>
                <input type="checkbox" name="types_number[]" class="not-check buy" id="types_number_2" value="2"><label for="types_number_2">買う</label>
                <input type="checkbox" name="types_number[]" class="not-check stay" id="types_number_3" value="3"><label for="types_number_3">泊まる</label>
            </div>

            <%= collection_select :mymap_id, :id, @mymaps, :id, :name, {:prompt => "すべてのマイリスト"} %>

            <div class="switch-column">
                <p>この時間に営業中のスポットのみ</p>
                <div class="switch">
                    <label class="switch__label">
                        <%= check_box :place, :open_timing, {class: "switch__input"}, "true", "false" %>
                        <span class="switch__content"></span>
                        <span class="switch__circle"></span>
                    </label>
                </div>
            </div>

            <div>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= button_tag( "マイリストからスポットを選択", {:type => "submit", :name => nil, :class => "enter search_mymap" } ) %>
            </div>
        <% end %>

        <div id="result"></div>
        </content>
