<h1>気になるスポットは見つかったかな？</h1>


<% @places.each do |place| %>
  <p><%= place.name%></p>
  <p><%= place.vicinity %></p>
  <p><%= place.place_id %></p>
  <p><%= place.types %></p>
  <p><%= place.rating %></p>
  <p><%= place.formatted_phone_number %></p>
  <p><%= place.url %></p>
  <p><%= place.opening_hours %></p>
<% end %>

