<h1><%= @place.name %></h1>
<p><%= @place.address %></p>
<p><%= @place.phone_number %></p>
<p><%= @place.google_url %></p>
<p><%= @place.types_name %></p>
<p><%= @place.types_number %></p>
<%= image_tag @place_picture.picture.thumb.url %>
