<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sumire</title>
        <meta name="description" content="web application that redefines the communication">
        <meta name="author" content="futae">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag "select_chromes/index", :media => "all" %>
        <%= stylesheet_link_tag "select_chromes/index-rspnsv", :media => "all" %>
        <%= favicon_link_tag("sumire.ico")%>
    </head>
    <body>
        <%= image_tag "logo2.png", class: "logo2" %>
        <%= image_tag "text.png", class: "text" %>
        <p>次の画面で<br>以下の設定をしましょう</p>
        <%= image_tag "menu.png", class: "menu" %>
        <p class="sentence">画面右上にあるメニューバーをタップ</p>
        <%= image_tag "arrow.png", class: "arrow" %>
        <%= image_tag "home-2.png", class: "home-2" %>
        <p class="sentence">ホーム画面に追加</p>
        <a href=<%="/users/#{current_user.id}"%> class="enter">sumireをはじめる</a>
        <div class="dot-box">
            <div class="dot" id="one"></div>
            <div class="dot" id="two"></div>
            <div class="dot" id="three"></div>
        </div>
    </body>
</html>
